@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
    --primary: #588250;
    --secondary: #2b3452;
    --tertiary: rgba(0, 0, 0, .60);
    --quaternary: rgba(255,255,255, 0.4);
    --quinary: #b3ed4e;
}
body{
    margin: 0px;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    background-color: var(--secondary);
}
main {
    max-width: 1200px;
    margin: 40px auto;
}

/* Navbar*/
header nav {
    display: flex;
    gap: 16px;
    justify-content: end;
    max-width: 1200px;
    margin: 0px auto;
}
header nav h1 {
    margin-right: auto;
    border-bottom: 3px solid var(--primary);
}
header nav a {
    text-decoration: none;
    padding: 6px;
    border-radius: 4px;
}
header nav a.active{
    background-color: var(--primary);
}
/* Random */
* {
    color: #fff;
    margin: 0px;
    box-sizing: border-box;
}
li{
  list-style: none;
}
input, select, textarea, option{
    color: var(--primary);
    margin-right: 10px;
}
button {
    background-color: var(--primary);
    padding: 6px;
    margin: 6px;
    border-radius: 4px;
}
.connectivity--features {
    display: flex;
}
.color--price {
  display: flex;
  justify-content: space-evenly;
}
.custom {
  display: inline;
  padding-left: 50px;
}
.color {
  display: flex;
  font-size: large;
  padding-top: 5px;
  padding-bottom: 10px;
}
.price {
  display: flex;
  font-size: large;
  padding-top: 5px;
  padding-bottom: 10px;
}
.connectivity {
  background-color: var(--tertiary);
  padding: 10px 25px 10px 25px;
}
.features {
  background-color: var(--tertiary);
  padding: 10px 25px 10px 25px;
}
.type {
  background-color: var(--tertiary);
  padding: 10px 25px 10px 25px;
  display: flex;
  justify-content: center;
}
.uploadImg {
  background-color: var(--tertiary);
}
.similarPost {
  background-color: var(--tertiary);
}
.refurbish {
  background-color: var(--tertiary);
}
label, fieldset{
  margin-right: 10px;
}
legend {
  font-size: large;
  letter-spacing: 2px;
}
.color--label, .price-label, .custom--label {
  background-color: var(--tertiary);
  padding: 5px 15px 5px 15px;
  letter-spacing: 2px;
}

/*Login page */
.Login {
  background: url(./images/Blue-Green-Tech.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10px;
  padding-bottom: 70px;
}
.login-card {
  background: var(--tertiary);
  border-radius: 4px;
  margin: 150px 250px 0px 250px;
  padding: 40px 30px 40px 30px;
  display: flex;
  justify-content: center;
  box-shadow: 20px 20px 50px black;
}
.login-heading { 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  margin: 5px;
}
.login-inputs {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-left: 20px;
}
.email, .password {
  display: flex;
}
.login-icon {
  margin: 10px;
}
.loginBTN {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.BTNlogin {
  border-radius: 10px;
  padding: 10px 30px 10px 30px;
  text-decoration: none;
  border: none;
  font-family: poppins;
  font-weight: bold;
  font-size: large;
  letter-spacing: 2px;
}
.BTNlogin:hover {
  background-color: var(--tertiary);
}
input[type="password"], input[type="email"] {
  margin-bottom: 15px;
  height: 30px;
  text-indent: 10px;
  border: 1px solid #444;
  border-radius: 5px;
  display: block;
}


/* Laptop List*/
.List {
  background: url(./images/blue-green-background.jpg);
  background-size: cover;
  padding: 10px;
  padding-bottom: 100%;
  box-shadow: 20px 20px 50px black;
}
.Laptops {
  margin-top: 50px;
}
.Laptop > a {
  display: block;
  text-decoration: none;
  background-color: var(--quaternary);
  box-shadow: 2px 2px 10px black;
  
  padding: 20px;
  margin: 20px;
  border-radius: 4px;
}
.Laptop a:hover {
  color: var(--quinary);
}
/*update Post */
input[type="text"] {
  border-radius: 4px;
  text-indent: 10px;
  border: 1px solid #444;
  height: 25px;
  margin: 10px 5px 5px 5px;
}
textarea {
  border-radius: 4px;
  text-indent: 10px;
  border: 2px solid var(--tertiary);
  height: 40px;
  margin: 10px 5px 5px 5px;
  padding-right: 78%;
}
.submit {
  border-radius: 5px;
  padding: 10px 30px 10px 30px;
  text-decoration: none;
  border: none;
  font-family: poppins;
  font-weight: bold;
  font-size: medium;
  letter-spacing: 2px;
}
.submit:hover {
  background-color: var(--tertiary);
}
.submit-btn {
  display: flex;
  justify-content: center;
}
/*Input-Page*/
.Input-Page {
  background: url(./images/blue-green-background.jpg);
  background-position:center;
  background-size: cover;
  box-shadow: 20px 20px 50px black;
}
/*Posted Page--Cards */
* {
  box-sizing: border-box;
}
.posted-title {
  margin-bottom: 50px;
}
.contacts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  background: url(./images/hexagon-posted.jpg);
  background-position:center;
  background-size: cover;
  box-shadow: 20px 20px 50px black;
  padding: 20px;
  padding-bottom: 100%;
}
.contact-card {
  flex-basis: 225px;
  box-shadow: 4px 4px 10px black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 13px;
  padding-bottom: 20px;
  background-color: var(--quaternary);
  border: solid 1px white;
}
.contact-card > h3 {
  font-weight: 700;
  font-size: 18px;
  justify-content: center;
}
.info {
  display: flex;
  align-items: center;
}
.info-group > img {
  height: 11px;
  margin-right: 8px;
}
.info > p {
  margin-block: 3px;
  font-size: 14px;
  
}
.info > p > a {
  font-size: small;
}
.info > p > a:hover {
  color: var(--quinary);
  cursor: pointer;
}

/*  Unauthorized 401 page */
.lock-img {
  width: 500px;
  display: inline-block;
}
.card-401 {
  margin-top: 25px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  padding-top: 120px;
  background-image: url(./images/qwrttt.jpg) ;
  background-position:center;
  background-size: cover;
  width:1000px;
  height:650px;
  box-shadow: 20px 20px 50px black;
}
.card-401 a:hover {
  background-color: rgba(0,0,0,0);
}
.message-401 {
  margin-left: 100px;
}

/*Refurbishe- Page*/
.Refurbished {
  background: url(./images/blue-hexagon.jpg);
  background-position:center;
  background-size: cover;
  box-shadow: 2px 2px 10px black;
  padding: 10px;
  padding-bottom: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.refurbish{
  margin-top: 100px;
  padding: 20px;
}
input[type="text"],[type="password"] {
	background-color: rgba(255,255,255, 0.7);
	color: black;
  border: solid 1px white;
}
input::placeholder {
  color: var(--primary);
}
input[type="button"] {
  border-radius: 3px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  border: none;
  font-family: poppins;
  font-weight: bold;
  font-size: medium;
  letter-spacing: 2px;
}
input::file-selector-button {
  border-radius: 3px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  border: none;
  font-family: poppins;
  font-weight: bold;
  font-size: medium;
  letter-spacing: 2px;
  color: var(--primary);
  margin-right: 10px;
}
/*previous next buttons*/
.footer {
  position: fixed;
  bottom: 0;
  padding-left: 52%;
}
a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}
a:hover {
  background-color: var(--primary);
  color: var(--quinary);
}
.previous {
  background-color: var(--quaternary);
  color: black;
  
}
.next {
  background-color: var(--quinary);
  color: black;
  
}
/* 

*/